{% extends "base.html" %}
{% block content %}

<div class="bg-white border border-gray-400 p-4 mb-4">
    <textarea class="w-full border border-gray-400 p-2 text-sm"
              placeholder="Что нового?"></textarea>

    <button class="mt-2 bg-gray-800 text-white px-4 py-1 text-sm">
        Опубликовать
    </button>
</div>

<div class="bg-white border border-gray-400 p-4">
    <h2 class="font-semibold text-sm">Пользователь</h2>
    <p class="mt-2 text-sm">Это первый пост в LNetwokr 🚀</p>
</div>

{% endblock %}
